{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}
{% block body %}
	<!--Section: Contact v.2-->
	<style>
		ul {
			display: block;
			justify-content: center;
		}
		ul > li {
			margin: auto;
		}
		.p {
			margin-top: 60px;
		}
	</style>
	<body style="background-color:#D3D3D3;">
		<section
			class="mb-4 justify-content-center ">

			<!--Section heading-->
			<h2 class="h1-responsive font-weight-bold text-center my-4" style="background-color: #D3D3D3;">Contact us</h2>
			<!--Section description-->
			<div class=" justify-content-center ">
				<p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
																																																																																																																																																																																																																																				        a matter of hours to help you.</p>
				<div class="col-md-3 text-center m-auto ">
					<ul class="list-unstyled mb-0 d-flex  ">

						<li>
							<i class="fas fa-phone mt-4 fa-2x  "></i>
							<p>+ 71 282 319</p>
						</li>

						<li>
							<i class="fas fa-envelope mt-4 fa-2x"></i>
							<p>Info-tech@gmail.com</p>
						</li>
					</ul>
					<p class="p">Merci d'avoir choisir notre site.
					</p>
				</div>
			</div>
		</section>
	</body>
{% endblock %}
