<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Readble
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


		<style>
			.logo-size {
				width: 70px;
				height: 50px;
			}
			.panier-size {
				width: 30px;
				height: auto;
			}
			.ut-size {
				width: 25px;
				height: auto;
			}
		</style>
	</head>
	<body>
		<header>
			{% include 'nav.html.twig' %}</header>


	</body>
	{% block body %}{% endblock %}
	<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
	<script src="https://kit.fontawesome.com/c1a5005bbc.js" crossorigin="anonymous"></script>
</html>
